<h1>Practica cookies</h1>

<form action="" id="myForm">
    <input type="text" name="name" id="name" placeholder="Nombre">
    <input type="text" name="email" id="email" placeholder="Email">
    <button type="button" id="readCookies">Leer Cookies</button>
    <button type="submit">Enviar</button>
</form>

<script src="../../public//js/main.js"></script>