<h1>Crear Cuenta</h1>


<form action="/api/login/register" id="registerForm" class=" formulario formRegister" method="POST">

    <div class="input-container">
        <label for="name">Nombre</label>
        <input type="text" id="name" required name="name">
    </div>
    <div class="input-container">
        <label for="age">Edad</label>
        <input type="number" id="age" required name="age">
    </div>
    <div class="input-container">
        <label for="email">Email</label>
        <input type="text" id="email" required name="email">
    </div>
    <div class="input-container">
        <label for="password">Contraseña</label>
        <input type="password" id="password" required name="password">
    </div>


    <button type="submit" class="button">Crear</button>
</form>